#ignore all .xlsx files
*.xlsx

#ignore all directories with the name .vs
.vs/

#ignore all directories with the name x64
x64/

#ignore all .wav files
*.wav

#ignore all directories with the name .x64
.x64/
